{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}
<style>
    body{
        background:coral;
    }
</style>
<div class = "container">
    <figure class="figure">
        <img src="static/chad.jpg" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption text-end">niqqawhatdafak</figcaption>
      </figure>
    <dl>
        <dt>Alan Thomas </dt>
        <dd>myself alan thomas i chat on gaaarls on phasevook</dd>
        <p>
            <a class="btn btn-outline-dark" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Hobby</a>
            <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Skills</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Wiggle</button>
            <button class="btn btn-dark" type="button" data-toggle="collapse" aria-expanded="false"><a href="static/chad.jpg">CLICK HERE TO DOWNLOAD YOUR PRESENT</a></button>
        </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                  When i have preee dime i chaat on gaaarls on phasevook.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                  i take pride in pride im pride im every thing in pride
                </div>
              </div>
            </div>
          </div>
    </dl>
</div>



{% endblock body %}